@use "../vars.scss" as *;

.product-card {
  left: 0;
  margin-top: 34px;
  width: 30.5vw;
  background-color: rgba(246, 245, 243, 1);
  display: flex;
  height: 440px;
  justify-content: center;

  &__container {
    width: 95%;
    height: 90%;
  }

  &__photo {
    position: relative; /* Делаем контейнер относительным для позиционирования дочерних элементов */
    width: 100%;
    margin-top: 5px;
    padding-bottom: 65%; /* Соотношение сторон примерно 20:13 (13/20 = 0.65) */
    overflow: hidden; /* Обрезаем всё, что выходит за границы */

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; /* Сохраняем пропорции и заполняем контейнер */
    }
  }

  &__photo-new {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; /* Поверх изображения */
    background: rgba(52, 61, 56, 1);
    padding: 5px 13px;
    border-bottom-right-radius: 8px;

    p {
      margin: 0;
      font-weight: 300;
      color: $text-color-white;
      font-family: $font-forum;
    }
  }

  &__tag {
    position: absolute;
    bottom: 5px;
    left: 8px;
    border-radius: 60px;
    z-index: 2; /* Поверх изображения */
    background: rgba(0, 0, 0, 0.3);
    padding: 5px 10px;

    p {
      margin: 0;
      color: $text-color-white;
      font-size: calc($index * 0.6);
      font-family: $font-tt-chocolate;
    }
  }

  &__content {
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      margin: 0;
      font-size: calc($index * 1.25);
      color: $text-color-gold;
      font-family: $font-forum;
    }
  }

  &__title {
    font-family: $font-forum;
    color: rgba(0, 0, 0, 1) !important;
  }

  &__finishing {
    margin-top: 10px;
    margin-bottom: 5px;

    &-container {
      p {
        margin: 0;
        font-family: $font-tt-chocolate;
        font-size: calc($index * 0.55);
      }
    }
  }
}