<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
    />
    <title>Страница не найдена - 404</title>

    <link
            rel="stylesheet"
            href="../css/index.css"
    />
</head>
<body class="">
    <main class="main">
        <section class="not-found">
            <div class="not-found__container">
                <h1>404</h1>
                <p>Страница не найдена или удалена начните с <a href="../index.html"><u>главной</u></a></p>
            </div>

            <img src="../assets/images/verona-logo/not-found-title.png" alt="verona logo"/>
        </section>
    </main>

<script

        type="module"
        src="../js/script.js"
></script>

</body>
</html>
